<form method="post" action="/search">
    <h2>Escolha o tipo de veiculo a ser pesquisado:</h2>
<select class="form-select" name="select">
    <option></option>
    <option value="1">Consulta de Carros e utilitários pequenos</option>
    <option value="2">Consulta de Caminhões e Micro-Ônibus</option>
    <option value="3">Consulta de motos</option>
    
</select>
<button>Pesquisar</button>
</form>