<script>
$(document).ready(function() {
    $('.form-select').select2();
    $('.form-select-1').select2();
    $('.form-select-2').select2();
    $('.form-select-3').select2();
});
</script>
</body>
</html>